.Post {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    padding: 40px 0px 80px 0px;
    margin-bottom: -30px;
}

.Post_itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    max-width: 1000px;
    text-align: center;
    gap: 30px;

    & img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    /* border: 2px red solid; */
}

.Post_itens p {
    white-space: pre-line;
}