.SearchPostByType {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 100%;
    min-height: 100vh;

    padding: 40px 0px 80px 0px;
    margin-bottom: -30px;

    & h1 {
        text-align: center;
    }
}

.SearchPostByType_itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    gap: 30px;
}

.SearchPostByType_itens_post_thumb {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 80%;
    gap: 30px;

    /* border: 2px red solid; */
}