.ThumbPostHorizontal {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;

    gap: 20px;
    /* border: 2px solid red; */

    & img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 15px;
    }
}

.ThumbPostHorizontal_texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 5px;
}

.ThumbPostVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80vw;
    max-width: 300px;
    gap: 20px;

    & img {
        width: 100%;
        max-width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 30px;
    }

    & h3 {
        font-size: 26px;
    }
}

.ThumbPostVertical_texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 10px;
    width: 100%;
    max-width: 300px;
}

@media (max-width: 600px) {
    .ThumbPostHorizontal {
        flex-direction: column;
        align-items: center;
    }

    .ThumbPostHorizontal_texto {
        align-items: center;
        text-align: center;
    }
}